<h1>Mutaciones</h1>
<hr>

<div class="row">
  <div class="col-6">
    <input
      #txtEmail
      type="text"
      class="form-control mb-2"
      (input)="onfieldUpdate( 'email', txtEmail.value)"
      [value]="user().email"
    >

    <input
      #txtName
      type="text"
      class="form-control mb-2"
      (input)="onfieldUpdate( 'first_name', txtName.value)"
      [value]="user().first_name"
    >


    <input
      #txtLastName
      type="text"
      class="form-control mb-2"
      (input)="onfieldUpdate( 'last_name', txtLastName.value)"
      [value]="user().last_name"
    >
  </div>
  <div class="col-6">
    <pre>{{ user() | json }}</pre>
    {{ fullName() }}
  </div>
</div>
